In [1]:
try:
    sc.stop()
except:
    pass
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
sc=SparkContext()
spark = SparkSession(sparkContext=sc)

## Expresión de columna

Una instancia de Spark **columna**  **NO es una columna de valores** del **DataFrame**: cuando usted crea una instancia de columna, no le da los valores reales de esa columna en el DataFrame. Encontré que tiene más sentido para mí si considero una instancia de **columna como una columna de expresiones**. Estas expresiones son evaluadas por otros métodos (por ejemplo, el **select()**, **groupby()**, y **orderby()** de **pyspark.sql.DataFrame**).

## Datos de ejemplo

In [3]:
mtcars = spark.read.csv('../../data/mtcars.csv', inferSchema=True, header=True)
mtcars = mtcars.withColumnRenamed('_c0', 'model')
mtcars.show(5)

+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|            model| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|        Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|    Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|       Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|   Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 5 rows

## Utilice el punto (.) para seleccionar una columna de DataFrame

In [4]:
mpg_col = mtcars.mpg
mpg_col

Column<b'mpg'>

## Modificar una columna para generar una nueva columna

In [5]:
mpg_col + 1

Column<b'(mpg + 1)'>

In [6]:
mtcars.select(mpg_col * 100).show(5)

+-----------+
|(mpg * 100)|
+-----------+
|     2100.0|
|     2100.0|
|     2280.0|
|     2140.0|
|     1870.0|
+-----------+
only showing top 5 rows

La **pyspark.sql.Column** tiene muchos métodos que actúan sobre una columna y devuelve una instancia de columna.

In [7]:
mtcars.select(mtcars.gear.isin([2,3])).show(5)

+----------------+
|(gear IN (2, 3))|
+----------------+
|           false|
|           false|
|           false|
|            true|
|            true|
+----------------+
only showing top 5 rows

In [8]:
mtcars.mpg.asc()

Column<b'mpg ASC NULLS FIRST'>